[buildout]
#extensions = 
#    buildout.dumppickedversions
#    mr.developer
#dump-picked-versions-file = versions.cfg
#overwrite-picked-versions-file = true
#sources = sources
#auto-checkout = *
unzip = true
versions = versions

parts =
    twisted
    transcodedaemon
    zope2
    instance
    zopepy

# Change the number here to change the version of Plone being used
extends = 
    http://dist.plone.org/release/3.3.5/versions.cfg

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/3.3.5
    http://dist.plone.org/thirdparty

# Add additional eggs here
eggs = 
    collective.transcode.recipe
    collective.transcode.daemon
    Twisted
    hashlib

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop = .
#          src/*

[versions]
collective.transcode.daemon = 0.3
collective.transcode.recipe = 0.2
zope.i18n = 3.4.0
zope.component = 3.5.1
z3c.form = 2.3.3
zope.schema = 3.6.0
zope.lifecycleevent = 3.5.2
zope.interface = 3.5.3
ZODB3 = 3.8.3
Twisted = 10.1.0-r29882

[zope2]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2install
recipe = plone.recipe.zope2install
fake-zope-eggs = true
url = ${versions:zope2-url}
additional-fake-eggs =
     Zope2

[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
blob-storage = var/blobstorage
#debug-mode = on
#verbose-security = on
# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
eggs =
    Plone
    collective.transcode.star
    PILwoTK
    plone.app.blob
    plone.reload
    ${buildout:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml = plone.app.blob
       plone.reload
       
[twisted]
recipe = minitage.recipe:egg
eggs = Twisted
urls = svn://svn.twistedmatrix.com/svn/Twisted/tags/releases/twisted-10.1.0|svn|29882

#[twisteds]
#recipe = minitage.recipe:scripts
#interpreter = twistedpy
#extra-paths = ${buildout:directory}/src
#eggs = ${twisted:eggs}

[transcodedaemon]
recipe = collective.transcode.recipe
listen_host = localhost
listen_port = 8888
videofolder = videos
secret = 1771d99931264d538e75eeb19da7d6a0

default_supported_mimetypes = ['video/mpeg', 'video/3gpp', 'video/x-ms-wmv', 'video/ogg', 'video/x-ogg', 'video/x-ogm+ogg', 'video/mpeg', 'video/quicktime', 'video/x-la-asf', 'video/x-ms-asf', 'video/x-msvideo']

profiles = [ { 'id' : 'jpeg', 'cmd' : 'scripts/getThumb %s %s', 'supported_mime_types': ${transcodedaemon:default_supported_mimetypes}, 'output_mime_type': 'image/jpeg', 'output_extension': 'jpg' }, { 'id' : 'mp4', 'cmd' : 'scripts/transcodeMp4 %s %s', 'supported_mime_types': ${transcodedaemon:default_supported_mimetypes}, 'output_mime_type': 'video/mp4', 'output_extension': 'mp4' }, { 'id' : 'ogg', 'cmd' : 'scripts/transcodeTheora %s %s', 'supported_mime_types': ${transcodedaemon:default_supported_mimetypes}, 'output_mime_type': 'video/ogg', 'output_extension': 'ogv' } ]

eggs = ${buildout:eggs}

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

#[sources]
#collective.transcode.recipe = svn https://svn.plone.org/svn/collective/collective.transcode.recipe/trunk
#collective.transcode.daemon = svn https://svn.plone.org/svn/collective/collective.transcode.daemon/trunk

